// Place all the styles related to the api/entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry-index {
  section {
    .entry-index-item {
      .entry-image {
        border-radius: 6px;
        width: 100%;
        margin-top: 1vw;
        //width: 100%;
      }
      .entry-title {
        color: black;
        font-size: 2vw;
        font-weight: 600;
        line-height: 2.5vw;
      }
      p {
        font-size: 1.3vw;
        font-weight: 600;
      }
    }
  }
}
